:root {
  --primary-text-color: #212121;
  --primary-background-color: #e5e5e5;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --p-color: #757575;
  --background-and-button-logo-color: #ffffff;
}
